{% block field_row %}
{% spaceless %}   
    <div class="control-group">       
        <label class="control-label" for="{{ form.vars.id }}">{{ form.vars.label }}</label>
        
        {{ form_errors(form) }}
        
        <div class="controls">
            {{ form_widget(form) }}
        </div>
    </div>
{% endspaceless %}
{% endblock field_row %}

{% block field_errors %}
{% spaceless %}
    {% if errors|length > 0 %}               
        {% for error in errors %}
            <div class="alert alert-error">
              <a class="close" data-dismiss="alert">&times;</a>
              <h4 class="alert-heading">Error!</h4>
              {{ error.messageTemplate|trans(error.messageParameters, 'validators') }}
            </div>            
        {% endfor %}                
    {% endif %}
{% endspaceless %}
{% endblock field_errors %}

{% block file_widget %}
    <input class="input-file" type="file" name="{{ name }}" accept="{{ block('attributes') }}" />
{% endblock file_widget %}

{% block textarea_widget %}
    <textarea {{ block('widget_attributes') }} cols="4" rows="10">{{ value }}</textarea>
{% endblock %}

{% block label_widget %}
    <label for="{{ id }}" class="control-label">{{ value }}</label>
{% endblock %}