<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{% block title %}Home{% endblock %} - XMB Forum</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
        
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css') }}" />        
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap-responsive.min.css') }}" />        
    
    <style>
      body {
        padding-top: 100px;
      }
    </style>
    
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <header>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="btn btn-navbar btn-inverse" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-arrow-down"></span>
                    </a> 
                    
                    <div class="brand"><a href="{{ path('_home') }}">XMB Forum</a> <small>Developer Version 1.0.0</small></div>                                        
                    
                    <div class="nav-collapse">
                        <ul class="nav">
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <li><a href="javascript://" class="dropdown-toggle no-border" data-toggle="dropdown">
                                    <span class="badge {% if notification_count > 0 %}badge-success{% endif %}">{{ notification_count }}</span></a>
                                    
                                    <ul class="dropdown-menu" id="notifications">
                                        {% if notification_count == 0 %}
                                            <li><a>You currently have <strong>0</strong> notifications!</a></li>
                                        {% else %}
                                            {% for notification in notifications %}
                                                <li><a>{{ notification.type }}</a></li>
                                            {% endfor %}
                                        {% endif %}
                                    </ul>  
                                </li> 
                            {% endif %}
                            <li><a href="{{ path('_home') }}"><i class="icon-home icon-white"></i> Home</a></li>
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") == false %}  
                                <li><a href="{{ path('fos_user_registration_register') }}"><i class="icon-ok-circle icon-white"></i> Register</a></li>
                                <li><a href="{{ path('fos_user_security_login') }}"><i class="icon-user icon-white"></i> Login</a></li>
                            {% else %}                            
                                <li><a href="{{ path('_profile', { username: app.user.username }) }}"><i class="icon-user icon-white"></i> {{ app.user.username }}</a></li> 
                                <li><a href="#"><i class="icon-cog icon-white"></i> Settings</a></li>                                  
                            {% endif %}                                                        
                            
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <li><a href="{{ path('fos_user_security_logout') }}"><i class="icon-off icon-white"></i> Logout</a></li>  
                            {% endif %}                                                                                                                                                                                               
                        </ul>
                    </div>
                    
                    <span class="navbar-text pull-right visible-desktop" style="padding-right: 15px;">
                        <small>Status: <a href="javascript://" style="color: orange;" rel="tooltip" title="XMB is currently in beta-testing mode!">Beta</a></small>
                    </span>
                    
                </div>
            </div>
        </div> 
    </header>
    
    <div class="container content">
        <ul class="breadcrumb">
            <li><a href="{{ path('_home') }}">Home</a> <span class="divider">/</span></li>
            {% block breadcrumbs %}{% endblock %}
        </ul>
        
        {% block content_before %}{% endblock %}
        
        <div class="row">
            <div class="span{% block content_length %}10{% endblock %}">  
                {% block content %}
                
                {% endblock %}
            </div>
            
            {% block sidebar_content %}
            <div class="span2">
                <div class="sidebar">
                    {% block sidebar %}
                    
                    {% endblock %}
                </div>
            </div>
            {% endblock %}
        </div>      
        
        {% block content_after %}{% endblock %}      
    
        <div class="container">
            <hr />
        
            <footer>          
                <div class="pull-right">
                    <a href="javascript://" onclick="$('#privacy-policy').modal()">Privacy Policy</a>
                </div>
                
                <div class="center">
                    &copy; {{ "now"|date('Y') }} <strong><a href="http://xmbforum2.com">XMBForum 2.0.0</a></strong>
                </div>                
            </div>
            
            <div class="modal fade" id="privacy-policy" style="display: none;">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h3>Privacy Policy</h3>
                </div>
                
                <div class="modal-body">
                    # PRIVACY POLICY HERE #
                </div>
            </div>
            
                <div class="modal modal-form fade" id="login-popup" style="display: none;">            
                    <form action="{{ path('fos_user_security_check') }}" method="post" class="form-horizontal">
                        <div class="modal-header">
                            <button class="close" data-dismiss="modal">&times;</button>
                            <h3>Login</h3>
                        </div>
                        
                        <div class="modal-body">
                            <fieldset>
                                <div class="control-group">
                                    <label class="control-label">Email Address:</label>
                                    
                                    <div class="controls">
                                        <input type="text" class="input-large" name="email" placeholder="Email" required="required" />
                                    </div>
                                </div>
                                
                                <div class="control-group">
                                    <label class="control-label">Password:</label>
                                    
                                    <div class="controls">
                                        <input type="password" class="input-large" name="password" placeholder="Password" required="required" />
                                    </div>
                                </div>                     
                            </fieldset>                
                        </div>
                        
                        <div class="modal-footer">
                            <input class="btn btn-primary" type="submit" name="submit" value="Login" />
                        </div>
                    </form>
                </div>
                
                <div class="loading" id="loading">
                    Loading...
                </div>
                
                <div class="background-overlay" id="overlay">
                    &nbsp;
                </div>
                
                <!-- JS -->
                <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
                <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
                <script type="text/javascript" src="{{ asset('js/xmb.js') }}"></script> 
                
                <script type="text/javascript">      
                    $(document).ready(function() {
                        $("[rel=tooltip]").tooltip({
                            animation : true,
                            placement : 'bottom'
                        });
                    });
                </script>
            </footer>
        </div>
    </div>
</body>
</html>