{% extends('XMBForumBundle::layout.html.twig') %}

{% block title %}
{{ thread.name|striptags }}
{% endblock %}

{% block breadcrumbs %}
    <li class="active"><a href="{{ path('_thread', { slug: thread.id}) }}">{{ thread.name }}</a></li>
{% endblock %} 

{% block content %}
    
    <div class="row">
        <div class="span12">
            <div class="thread">
                <div class="btn-group pull-right menu-fix">
                    <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="javascript://">
                        Moderation
                        <span class="caret"></span>
                    </a>
                    
                    <ul class="dropdown-menu">
                        <li><a href="javascript://">Delete Thread</a></li>
                    </ul>
                </div> 
            
                <h1>{{ thread.name }}</h1>
                
                <small class="visible-phone">
                    Author: <strong>{{ thread.username }}</strong><br />
                    Posted: <strong>{{ thread.dateline|date('F jS \\a\\t g:ia') }}</strong><br />
                    Rating: {% if thread.rating > 0 %}
                                <span class="badge badge-success" id="thread-rating-phone">{{ thread.rating }}</span>
                            {% elseif thread.rating < 0 %}
                                <span class="badge badge-important" id="thread-rating-phone">{{ thread.rating }}</span>
                            {% else %}
                                <span class="badge" id="thread-rating-phone">{{ thread.rating }}</span>
                            {% endif %}
                </small>   
            </div>                      
        </div>
    </div>
    
    <div class="row">
        <div class="span12">
            <div class="thread-content">
                <div class="row">
                    <div class="span2 thread-profile">
                        <strong><a href="{{ path('_profile', {username: thread.username}) }}">{{ thread.username }}</a></strong>
                        
                        <dl class="sidebar-info visible-desktop" style="margin-top: 0;">
                            <dt><strong>Posted:</strong></dt> <dd><small>{{ thread.dateline|date('F jS \\a\\t g:ia') }}</small></dd>
                            
                            <dt><strong>Rating:</strong></dt> 
                            <dd>
                                {% if thread.rating > 0 %}
                                    <small><span class="badge badge-success" id="thread-rating">{{ thread.rating }}</span></small>
                                {% elseif thread.rating < 0 %}
                                    <small><span class="badge badge-important" id="thread-rating">{{ thread.rating }}</span></small>
                                {% else %}
                                    <small><span class="badge" id="thread-rating">{{ thread.rating }}</span></small>
                                {% endif %}
                            </dd>
                        </dl>
                    </div>
                    
                    <div class="span9">                                                          
                        {{ thread.message|striptags|bbcode_filter('xmb') }}
                        
                        <br /><br />
                        
                        <p style="padding-left: 2em;"><small>{{ thread.username }}'s signature --</small></p>
                        <p style="padding-left: 3em;">{{ thread.signature|striptags|nl2br|bbcode_filter('xmb') }}</p>
                        
                        <div class="pull-right">
                            <h5>Posted: <small>{{ thread.dateline|date('F jS \\a\\t g:ia') }}</small></h5>
                        </div>  
                    </div>
                </div>                                
            </div>
        </div>
    </div>                 
    
    <div class="row" style="margin-top: 5px;">
        <div class="span12"> 
            <div class="pull-right">   
                <div class="btn-group">
                    {% if (app.user and app.user.id == thread.userid) or is_granted('ROLE_ADMIN') %}
                        <button class="btn">Edit</button>
                    {% endif %}
                    <button class="btn">Reply</button>
                    <button class="btn">Quote</button>
                    <button class="btn btn-success" onclick="XMB.update_thread_rating(true, {{ thread.threadid }})" data-action="{{ path('_ajax', { 'action': 'update_thread_rating' }) }}" id="rating-positive"><i class="icon-plus"></i></button>
                    <button class="btn btn-danger" onclick="XMB.update_thread_rating(false, {{ thread.threadid }})" data-action="{{ path('_ajax', { 'action': 'update_thread_rating' }) }}" id="rating-negative"><i class="icon-minus"></i></button>                    
                </div>
            </div>
        </div>
    </div>
    
    <br /><br />    
    
    {% if replies %}
        <div class="row">
            <div class="span12">
                <div class="thread">
                    <h1>Replies</h1>
                </div>
            </div>
        </div>
        
        {% for reply in replies %}
            <div class="row">
                <div class="span12">
                    <div class="thread-content">
                        <div class="row">
                            <div class="span2 thread-profile">
                                <strong><a href="{{ path('_profile', {username: thread.username}) }}">{{ thread.username }}</a></strong>
                                
                                <dl class="sidebar-info visible-desktop" style="margin-top: 0;">
                                    <dt><strong>Location:</strong></dt> <dd><small>Ireland</small></dd>
                                    <dt><strong>Posts:</strong></dt> <dd><small>1</small></dd>
                                                                        
                                </dl>
                            </div>
                            
                            <div class="span9">                                                                                                                                           
                                <br />
                                
                                {{ reply.message|striptags|bbcode_filter('xmb') }}
                                
                                <br /><br />
                        
                                <p style="padding-left: 2em;"><small>{{ reply.username }}'s signature --</small></p>
                                <p style="padding-left: 3em;">{{ reply.signature|striptags|nl2br|bbcode_filter('xmb') }}</p>
                                
                                <div class="pull-right">
                                    <h5>Posted: <small>{{ reply.postdateline|date('F jS \\a\\t g:ia') }}</small></h5>
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <br />
        {% endfor %}
    {% endif %}        
    
    <div class="row">
        <div class="span12">
            <form class="form-horizontal" {{ form_enctype(form) }} method="post">
                <hr />
                
                <div class="row">
                    <div class="span2">&nbsp;</div>
                    <div class="span9">            
                        <fieldset>
                            <legend>Reply</legend>
                            
                            <br />
                            
                            {{ form_widget(form) }}
                            
                            <div class="form-actions">
                                    <input type="submit" class="btn btn-primary" name="_submit" value="Reply to Thread" />
                                </div>
                        </fieldset>            
                    </div>
                </div>  
            </form>
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    <!--<dl class="sidebar-info visible-desktop" style="margin-top: 0;">
        <dt><strong>Author:</strong></dt> <dd><small><a href="{{ path('_profile', {username: thread.username}) }}">{{ thread.username }}</a></small></dd>
        <dt><strong>Posted:</strong></dt> <dd><small>{{ thread.dateline|date('F jS \\a\\t g:ia') }}</small></dd>
        
        <dt><strong>Rating:</strong></dt> 
        <dd>
            {% if thread.rating > 0 %}
                <small><span class="badge badge-success" id="thread-rating">{{ thread.rating }}</span></small>
            {% elseif thread.rating < 0 %}
                <small><span class="badge badge-important" id="thread-rating">{{ thread.rating }}</span></small>
            {% else %}
                <small><span class="badge" id="thread-rating">{{ thread.rating }}</span></small>
            {% endif %}
        </dd>
    </dl>-->
{% endblock %}